name: github pages

on:
  push:
    branches:
      - main  # Set a branch that will trigger a deployment
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install MkDocs dependencies
        run: |
          pip install -r programming-python-2sem/requirements.txt

      - name: Build MkDocs site
        run: |
          cd programming-python-2sem
          mkdocs build

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.142.0'
          # extended: true

      - name: Build Hugo site
        run: hugo --minify

      - name: Copy MkDocs site to Hugo public directory
        run: |
          mkdir -p ./public/programming-2sem
          cp -r programming-python-2sem/site/* ./public/programming-2sem/

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
